@model IEnumerable<AutoCosting.Models.Maintenance.Empresa>

@{
    ViewData["Title"] = "Index";
}

<br />
<h2>Empresa</h2>
<hr />

<p>
    @if (Model.Count() == 0)
    {
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MultiSedeYN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono, "Phone")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MultiSedeYN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactEmail)
                </td>
                <td>
                    @Html.Partial("_TableButtonPartial", new IndividualButtonPartial { Id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
