@model IEnumerable<AutoCosting.Models.CierreAperturaCaja.Caja>
@using AutoCosting.HelpersAndValidations
@{
    ViewData["Title"] = "Manejo de caja";
}

<h2>Manejo de caja</h2>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-unlock"></i> Abrir Caja</a>
    <a asp-action="Close" class="btn btn-success"><i class="fa fa-lock"></i> Cerrar Caja</a>
</p>

<hr />

<div class="box box-info">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Monto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroCaja)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Observaciones)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Monto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroCaja)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observaciones)
                    </td>
                    <td>
                        @if (item.Tipo == TipoCaja.Cierre)
                        {
                            <a asp-action="Summary" class="btn btn-sm btn-primary" asp-route-id="@item.ID">Resumen</a>
                            <a asp-action="Details" class="btn btn-sm btn-primary" asp-route-id="@item.ID">Detalles</a>
                        }
                        @*<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>