@model AutoCosting.Models.ViewModel.TransaccionViewModel
@using AutoCosting.HelpersAndValidations
@{
    ViewData["Title"] = "Details";
}

<h2>Detalles de la Transacción</h2>
<hr />
<input type="hidden" asp-for="Transaccion.TransID" />
<div class="form-group">
    <div class="row">
        <!-- left column -->
        <div class="col-md-7">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Información de la Transacción</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Transaccion.VendedorID" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5">
                                <select asp-for="Transaccion.VendedorID" class="form-control" disabled asp-items="ViewBag.VendedorID"></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Transaccion.ClienteID" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5">
                                <select asp-for="Transaccion.ClienteID" class="form-control" disabled asp-items="ViewBag.ClienteID">
                                    <option disabled selected>--Seleccionar--</option>
                                </select>
                            </div>
                        </div>
                        <div class="row hidden">
                            <div class="col-sm-3">
                                <label asp-for="Transaccion.EmpresaID" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5">
                                <select asp-for="Transaccion.EmpresaID" class="form-control" disabled asp-items="ViewBag.EmpresaID"></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Transaccion.SedeID" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5">
                                <select asp-for="Transaccion.SedeID" class="form-control" disabled asp-items="ViewBag.SedeID"></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Transaccion.TipoPago" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5">
                                <select asp-for="Transaccion.TipoPago" class="form-control" disabled asp-items="Html.GetEnumSelectList<TipoPago>()"></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Transaccion.TipoTransaccion" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5">
                                <select asp-for="Transaccion.TipoTransaccion" class="form-control" disabled asp-items="Html.GetEnumSelectList<TipoTransaccion>()"></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Transaccion.Fecha" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5">
                                <input asp-for="Transaccion.Fecha" readonly="readonly" class="form-control" type="date" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Transaccion.Total" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5" style="padding-top:6px">
                                @Html.DisplayFor(modelItem => Model.Transaccion.Total)
                            </div>
                            <span asp-validation-for="Transaccion.Total" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Transaccion.Saldo" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5" style="padding-top:6px">
                                @Html.DisplayFor(modelItem => Model.Transaccion.Saldo)
                            </div>
                            <span asp-validation-for="Transaccion.Saldo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Recibos.Count > 0)
        {
            <div class="col-md-5">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Recibos</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Recibo.ID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Recibo.Descripcion)
                                    </th>
                                    <th style="text-align:right">
                                        @Html.DisplayNameFor(model => model.Recibo.Abono)
                                    </th>
                                    <th style="text-align:right">
                                        @Html.DisplayNameFor(model => model.Recibo.Fecha)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Recibos)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Descripcion)
                                        </td>
                                        <td style="text-align:right">
                                            @Html.DisplayFor(modelItem => item.Abono)
                                        </td>
                                        <td style="text-align:right">
                                            @Html.DisplayFor(modelItem => item.Fecha)
                                        </td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="form-group">
        <a asp-action="Edit" asp-route-id="@Model.Transaccion.TransID" class="btn btn-sm btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-sm btn-success">Regresar a la Lista</a>
    </div>
</div>

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Lineas de Detalle</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TransaccionDetail.Vehiculo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransaccionDetail.Vehiculo.Marca)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransaccionDetail.Vehiculo.Modelo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransaccionDetail.Vehiculo.Anno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransaccionDetail.PrecioAcordado)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TransaccionDetalles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VINVehiculo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehiculo.Marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehiculo.Modelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehiculo.Anno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecioAcordado)
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
