@model AutoCosting.Models.ViewModel.TransaccionViewModel
@using AutoCosting.HelpersAndValidations
@{
    ViewData["Title"] = "Edit";
}

<input type="hidden" asp-for="Transaccion.TransID" />
<div class="row">
    <div class="col-sm-4">
        <h2>Editar Transacción</h2>
    </div>
    <div style="text-align:right;padding:0px 20px 0px 0px">
        <br />
        <a asp-action="Create" asp-route-transID="@Model.Transaccion.TransID" asp-controller="Recibo" class="btn btn-success">Agregar Recibo</a>
        <a asp-action="ImprimirRep" asp-route-transID="@Model.Transaccion.TransID" class="btn btn-success">Imprimir</a>
    </div>
</div>

<hr />
<form asp-action="Edit">
    <input type="hidden" asp-for="Transaccion.TransID" />
    <input type="hidden" asp-for="Transaccion.ClienteID" />
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <div class="row">
            <!-- left column -->
            <div class="col-md-7">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Información de la Transaccón</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="Transaccion.VendedorID" class="custom-label"></label>
                                </div>
                                <div class="col-sm-4">
                                    <select asp-for="Transaccion.VendedorID" class="form-control" asp-items="ViewBag.VendedorID"></select>
                                </div>
                                <span asp-validation-for="Transaccion.VendedorID" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="Transaccion.ClienteID" class="custom-label"></label>
                                </div>
                                <div class="col-sm-4">
                                    <select asp-for="Transaccion.ClienteID" class="form-control" disabled asp-items="ViewBag.ClienteID">
                                        <option disabled selected>--Seleccionar--</option>
                                    </select>
                                </div>
                                <span asp-validation-for="Transaccion.ClienteID" class="text-danger"></span>
                            </div>
                            <div class="row hidden">
                                <div class="col-sm-3">
                                    <label asp-for="Transaccion.EmpresaID" class="custom-label"></label>
                                </div>
                                <div class="col-sm-4">
                                    <select asp-for="Transaccion.EmpresaID" class="form-control" asp-items="ViewBag.EmpresaID"></select>
                                </div>
                                <span asp-validation-for="Transaccion.EmpresaID" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="Transaccion.SedeID" class="custom-label"></label>
                                </div>
                                <div class="col-sm-4">
                                    <select asp-for="Transaccion.SedeID" class="form-control" asp-items="ViewBag.SedeID"></select>
                                </div>
                                <span asp-validation-for="Transaccion.SedeID" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="Transaccion.TipoPago" class="custom-label"></label>
                                </div>
                                <div class="col-sm-4">
                                    <select asp-for="Transaccion.TipoPago" class="form-control" asp-items="Html.GetEnumSelectList<TipoPago>()"></select>
                                </div>
                                <span asp-validation-for="Transaccion.TipoPago" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="Transaccion.TipoTransaccion" class="custom-label"></label>
                                </div>
                                <div class="col-sm-4">
                                    <select asp-for="Transaccion.TipoTransaccion" class="form-control" asp-items="Html.GetEnumSelectList<TipoTransaccion>()"></select>
                                </div>
                                <span asp-validation-for="Transaccion.TipoTransaccion" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="Transaccion.Fecha" class="custom-label"></label>
                                </div>
                                <div class="col-sm-4">
                                    <input asp-for="Transaccion.Fecha" class="form-control" type="date" />
                                </div>
                                <span asp-validation-for="Transaccion.Fecha" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3">
                                    <label asp-for="Transaccion.Total" class="custom-label"></label>
                                </div>
                                <div class="col-sm-4" style="padding-top:6px">
                                    @Html.DisplayFor(modelItem => Model.Transaccion.Total)
                                </div>
                                <span asp-validation-for="Transaccion.Total" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Recibos.Count > 0)
            {
                <div class="col-md-5">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Recibos</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Recibo.Descripcion)
                                        </th>
                                        <th style="text-align:right">
                                            @Html.DisplayNameFor(model => model.Recibo.Abono)
                                        </th>
                                        <th style="text-align:right">
                                            @Html.DisplayNameFor(model => model.Recibo.Fecha)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Recibos)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Descripcion)
                                            </td>
                                            <td style="text-align:right">
                                                @Html.DisplayFor(modelItem => item.Abono)
                                            </td>
                                            <td style="text-align:right">
                                                @Html.DisplayFor(modelItem => item.Fecha)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Actualizar" class="btn btn-sm btn-primary" />
        <a asp-action="Index" class="btn btn-sm btn-success">Regresar a la Lista</a>
    </div>
</form>
<hr />
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Lineas de Detalle</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <a asp-action="Create" class="btn btn-primary" asp-controller="TransaccionDetail" asp-route-transID="@Model.Transaccion.TransID">Agregar nuevo vehículo</a>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TransaccionDetail.VINVehiculo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransaccionDetail.Vehiculo.Marca)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransaccionDetail.Vehiculo.Modelo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransaccionDetail.Vehiculo.Anno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransaccionDetail.PrecioAcordado)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TransaccionDetalles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VINVehiculo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehiculo.Marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehiculo.Modelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehiculo.Anno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecioAcordado)
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-action="Edit" asp-controller="TransaccionDetail" asp-route-id="@item.ID" class="btn btn-sm btn-primary glyphicon glyphicon-pencil"></a>
                                <a asp-action="Details" asp-controller="TransaccionDetail" asp-route-id="@item.ID" class="btn btn-sm btn-success glyphicon glyphicon-list"></a>
                                <a asp-action="Delete" asp-controller="TransaccionDetail" asp-route-id="@item.ID" class="btn btn-sm btn-danger glyphicon glyphicon-trash"></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>