@model IEnumerable<AutoCosting.Models.Transaction.TransaccionHeader>
@using AutoCosting.HelpersAndValidations
@{
    ViewData["Title"] = "Index";
}
<script type="text/javascript">
    function ShowDate() {
        document.getElementById("search").type = "date"
    };
    function ShowText() {
        document.getElementById("search").type = "text"
    };
    window.onload =
        function SetFilterOption() {
            var checked = document.getElementById("Fecha").checked;
            if (checked == true) {
                ShowDate();
            }
            else {
                ShowText();
            }
        }
</script>

<h2>Transacciones</h2>
<hr />
<form asp-controller="TransaccionHeader" asp-action="Index" method="get">
    <div class="box-header with-border">
        <div class="col-sm-4" style="padding-top:20px">
            <a asp-action="Create" class="btn btn-primary">Crear nueva</a>
            <a asp-area="" asp-controller="TransaccionHeaderHist" asp-action="Index" class="btn btn-success"><span>Históricos</span></a>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12 text-right" onload="SetFilterOption()">
                    <b>Buscar:  &nbsp;&nbsp;&nbsp; </b>
                    <label class="radio-inline" onclick="ShowText()">@Html.RadioButton("option", "Cliente") Cliente</label>
                    <label class="radio-inline" onclick="ShowText()">@Html.RadioButton("option", "Empleado") Empleado </label>
                    <label class="radio-inline" onclick="ShowDate()">@Html.RadioButton("option", "Fecha", new { id = "Fecha" }) Fecha </label>
                    <label class="radio-inline" onclick="ShowText()">@Html.RadioButton("option", "Sede") Sede </label>
                    <label class="radio-inline" onclick="ShowText()">@Html.RadioButton("option", "TransID") Número de Transación </label>
                </div>
            </div>
            <div class="row">
                <div class="pull-right">
                    <button type="submit" name="submit" value="Buscar" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span> Buscar
                    </button>
                </div>
                <div class="pull-right">
                    @Html.Editor("search", new { HtmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
    </div>
    <div class="box box-info">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TransID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Empleado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoPago)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoTransaccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sede)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Saldo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApartadoVencidoYN)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Informacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Empleado.NombreCompleto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoPago)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoTransaccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sede.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Saldo)
                        </td>
                        <td>
                            @if (item.ApartadoVencidoYN && item.TipoTransaccion == TipoTransaccion.Apartado)
                            {
                                @Html.DisplayFor(modelItem => item.ApartadoVencidoYN)
                            }
                            else if (!item.ApartadoVencidoYN && item.TipoTransaccion == TipoTransaccion.Apartado)
                            {
                                @Html.DisplayFor(modelItem => item.ApartadoVencidoYN)
                            }
                        </td>
                        <td>
                            @await Html.PartialAsync("_TableButtonPartial", new IndividualButtonPartial { Id = item.TransID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>