@model AutoCosting.Models.Tracking.TrackingHeader

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrackingHeader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vehiculo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vehiculo.VIN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrackingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
