@model IEnumerable<AutoCosting.Models.Tracking.TrackingHeader>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrackingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehiculo.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notas)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.CostoTotal)
            </th>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrackingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrackingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrackingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
