@model IEnumerable<AutoCosting.Models.Tracking.TrackingHeader>

@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript">
    function ShowDate() {
        document.getElementById("search").type = "date"
    };
    function ShowText() {
        document.getElementById("search").type = "text"
    };
    window.onload =
        function SetFilterOption() {
            var checked = document.getElementById("Fecha").checked;
            if (checked == true) {
                ShowDate();
            }
            else {
                ShowText();
            }
        }
</script>

<h2>Seguimientos (Vehículos Vendidos)</h2>
<hr />
<form asp-controller="TrackingHeaders" asp-action="SoldTrackings" method="get">
    <div class="box-header with-border">
        <div class="col-sm-4" style="padding-top:20px">
            <a asp-action="Index" class="btn btn-success">Seguimientos Activos</a>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12 text-right" onload="SetFilterOption()">
                    <b>Buscar:  &nbsp;&nbsp;&nbsp; </b>
                    <label class="radio-inline" onclick="ShowText()">@Html.RadioButton("option", "Vehiculo") Vehículo</label>
                    <label class="radio-inline" onclick="ShowDate()">@Html.RadioButton("option", "Fecha", new { id = "Fecha" }) Fecha </label>
                    <label class="radio-inline" onclick="ShowText()">@Html.RadioButton("option", "TrackingID") Tracking ID</label>
                </div>
            </div>
            <div class="row">
                <div class="pull-right">
                    <button type="submit" name="submit" value="Buscar" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span> Buscar
                    </button>
                </div>
                <div class="pull-right">
                    @Html.Editor("search", new { HtmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
    </div>
    <div class="box box-info">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TrackingID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vehiculo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Notas)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CostoTotal)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrackingID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehiculo.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notas)
                        </td>
                        <th>
                            @Html.DisplayFor(modelItem => item.CostoTotal)
                        </th>
                        <td>                            
                            <a asp-action="Details" asp-controller="TrackingHeaders" asp-route-Id="@item.TrackingID" class="btn btn-sm btn-success glyphicon glyphicon-list"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>