@model AutoCosting.Models.ViewModel.EmpresaSedeViewModel

@{
    ViewData["Title"] = "Index";
}

<br />
<h2>Sedes&nbsp;-&nbsp;@Html.DisplayFor(modelItem => modelItem.Empresa.Nombre) </h2>
<hr />

<p>
    @if (Model.Empresa != null && Model.Empresa.MultiSedeYN)
    {
        <a asp-action="Create" class="btn btn-primary">Crear Nueva</a>
    }
    else if (Model.Empresa != null && !Model.Empresa.MultiSedeYN && Model.SedeList.Count() == 0)
    {
        <a asp-action="Create" class="btn btn-primary">Crear Nueva</a>
    }
</p>
<table class="table">
    <thead>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.Sede.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sede.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sede.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sede.UsarCierreCajaYN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sede.ImprimirLogoYN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SedeList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsarCierreCajaYN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImprimirLogoYN)
                </td>
                <td>
                    @Html.Partial("_TableButtonPartial", new IndividualButtonPartial { Id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
