@model AutoCosting.Models.ViewModel.EmpresaSedeViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Sedes&nbsp;-&nbsp;@Html.DisplayFor(modelItem => modelItem.Empresa.Nombre) </h2>
<hr />

<p>
    @if (Model.Empresa != null && Model.Empresa.MultiSedeYN)
    {
        <a asp-action="Create" class="btn btn-primary">Crear Nueva</a>
    }
    else if (Model.Empresa != null && !Model.Empresa.MultiSedeYN && Model.SedeList.Count() == 0)
    {
        <a asp-action="Create" class="btn btn-primary">Crear Nueva</a>
    }
</p>
<div class="box box-info">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Sede.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sede.ContactEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sede.NombreContacto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sede.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sede.Telefono)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SedeList)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreContacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @await Html.PartialAsync("_TableButtonPartial", new IndividualButtonPartial { Id = item.ID })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>