@model AutoCosting.Models.TransactionHist.TransaccionHeaderHist
@using AutoCosting.HelpersAndValidations
@{
    ViewData["Title"] = "Details";
}

<input type="hidden" asp-for="TransID" />



<div class="row">
    <div class="col-sm-4">
        <h2>Detalles de la Transacción</h2>
    </div>
    <div style="text-align:right;padding:0px 20px 0px 0px">
        <br />
        <a asp-action="ImprimirRep" asp-route-transID="@Model.TransID" class="btn btn-primary"><i class="fa fa-print"></i> Reimprimir</a>
    </div>
</div>
<hr />

<div class="form-group">
    <div class="row">
        <!-- left column -->
        <div class="col-md-7">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Información de la Transacción: @Model.TransIdStr</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="VendedorID" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5">
                                <select asp-for="VendedorID" class="form-control" disabled asp-items="ViewBag.VendedorID"></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="ClienteID" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5">
                                <select asp-for="ClienteID" class="form-control" disabled asp-items="ViewBag.ClienteID">
                                    <option disabled selected>--Seleccionar--</option>
                                </select>
                            </div>
                        </div>
                        <div class="row hidden">
                            <div class="col-sm-3">
                                <label asp-for="EmpresaID" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5">
                                <select asp-for="EmpresaID" class="form-control" disabled asp-items="ViewBag.EmpresaID"></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="SedeID" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5">
                                <select asp-for="SedeID" class="form-control" disabled asp-items="ViewBag.SedeID"></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="TipoPago" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5">
                                <select asp-for="TipoPago" class="form-control" disabled asp-items="Html.GetEnumSelectList<TipoPago>()"></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="TipoTransaccion" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5">
                                <select asp-for="TipoTransaccion" class="form-control" disabled asp-items="Html.GetEnumSelectList<TipoTransaccion>()"></select>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Fecha" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5">
                                <input asp-for="Fecha" readonly="readonly" class="form-control" type="date" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Total" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5" style="padding-top:6px">
                                @Html.DisplayFor(modelItem => Model.Total)
                            </div>
                            <span asp-validation-for="Total" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Saldo" class="custom-label"></label>
                            </div>
                            <div class="col-sm-5" style="padding-top:6px">
                                @Html.DisplayFor(modelItem => Model.Saldo)
                            </div>
                            <span asp-validation-for="Saldo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Recibos.Count() > 0)
        {
            <div class="col-md-5">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Recibos</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Recibos.FirstOrDefault().ID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Recibos.FirstOrDefault().Descripcion)
                                    </th>
                                    <th style="text-align:right">
                                        @Html.DisplayNameFor(model => model.Recibos.FirstOrDefault().Abono)
                                    </th>
                                    <th style="text-align:right">
                                        @Html.DisplayNameFor(model => model.Recibos.FirstOrDefault().Fecha)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Recibos)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Descripcion)
                                        </td>
                                        <td style="text-align:right">
                                            @Html.DisplayFor(modelItem => item.Abono)
                                        </td>
                                        <td style="text-align:right">
                                            @Html.DisplayFor(modelItem => item.Fecha)
                                        </td>
                                        <td>
                                            <a asp-action="ReceiptDetails" asp-route-id="@item.ID"  class="btn btn-sm btn-primary"><i class="fa fa-print"></i> Reimprimir</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="form-group">
        <a asp-action="Index" class="btn btn-sm btn-success">Regresar a la Lista</a>
    </div>
</div>

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Lineas de Detalle</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TransDetails.FirstOrDefault().Vehiculo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransDetails.FirstOrDefault().Vehiculo.Marca)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransDetails.FirstOrDefault().Vehiculo.Modelo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransDetails.FirstOrDefault().Vehiculo.Anno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransDetails.FirstOrDefault().PrecioAcordado)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TransDetails)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VINVehiculo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehiculo.Marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehiculo.Modelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vehiculo.Anno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecioAcordado)
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
